.password-form {
    width: 329px;
    height: 273px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -5px 8px 26px -7px rgba(196,196,196,0.99);
    padding: 17px 29px;
    .form--input { 
        position: relative;
        margin-bottom: 5px;
        input {
            width: 270px;
            height: 29px;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 8px;
            border: 1px solid #DCDCDC;
            border-radius: 5px;
        }
        label {
            color: #616161;
            font-size: 13px;
            font-weight: 600;
        }
        img {
            position: absolute;
            bottom: 16px;
            right: 10px;
            cursor: pointer;
            width: 14px;
            height: 15px;
        }
    }
    .form-input {
        input {
            width: 270px;
            height: 29px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #DCDCDC;
            border-radius: 5px;
        }
        label {
            color: #616161;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    button {
        width: 270px;
        height: 29px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background-color: #FF8D3E;
        color: white;
        font-size: 13px;
        font-weight: 700;
    }
}